* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Carter One", cursive;
  text-align: center;
  background: #6dabd4;
}

section {
  margin-top: 10%;
}

/***** Header *****/

#intro-img {
  display: block;
  width: 100vw;
  height: 50vh;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* position: fixed; */
  width: 100%;
}

.link {
  margin-bottom: 0.5em;
  text-decoration: none;
  color: #b0c4de;
  font-size: 1.2rem;
  font-weight: 800;
}

.link:hover,
.link:focus {
  color: whitesmoke;
  cursor: pointer;
}

/* About Me */
.about-me {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.about-me:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about-me-img-container {
  width: 50%;
  height: 100%;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 15px 10px;
}

.about-me-img {
  width: 100%;
  height: 100%;
}

.about-me-info-container {
  width: 50%;
  margin-left: 0.5em;
}

/* Projects */
.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* width: 80%; */
  margin: 0 2em;
  text-align: center;
}

.project:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-img {
  width: 250px;
  height: 250px;
  /* height: auto; */
  /* color: #fff; */
  margin: 30px 30px 30px 30px;
  transition: 0.8s;
  transition-property: color, transform;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-img:hover {
  transform: scale(1.125);
}

.project-details {
  margin: 0 10%;
}

/* Blogs */
.blogs-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
  margin-bottom: 2.5em;
  width: 50%;
  border-bottom: 1px solid rgb(58, 56, 56);
}

.blog-img {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-img:hover {
  opacity: 0.8;
}

/* Contact */
.contact-details {
  list-style-type: none;
}

@media (min-width: 600px) {
  #navbar {
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em 0;
  }

  .project {
    margin: 0 20%;
  }
}
