* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 100vw;
  font-family: "Carter One", cursive;
  text-align: center;
  background: #6dabd4;
}

/***** Header *****/

#intro-img {
  display: block;
  width: 100vw;
  height: 40vh;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* position: fixed; */
  width: 100%;
}

.link {
  margin: 0.5em 0;
  text-decoration: none;
  color: #b0c4de;
  font-size: 1.2rem;
  font-weight: 800;
}

.link:hover,
.link:focus {
  color: whitesmoke;
  cursor: pointer;
}

/**** Sections ****/
section {
  margin-top: 15%;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

p {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/**** About Me ****/
.about-me {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.about-me:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about-me-img-container {
  width: 50%;
  height: 100%;
  border: 3px solid #ccc;
  background: #eee;
  padding: 15px 10px;
}

.about-me-img {
  width: 100%;
  /* height: 300px; */
  height: 100%;
}

.about-me-info-container {
  width: 100%;
  margin: 1.5em;
  text-align: center;
}

.about-me-link {
  color: #642b73;
  text-decoration: none;
}

.about-me-link:hover,
.about-me-link:focus {
  color: whitesmoke;
}

.about-me-more-btn {
  background: #642b73;
  color: whitesmoke;
}

.about-me-more-btn:hover {
  background: whitesmoke;
  color: #642b73;
  opacity: 0.6;
}

.about-me-more-img {
  width: 60%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/**** Skills ****/
.skills {
  width: 100%;
  padding: 1em;
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.skills-technical,
.skills-soft {
  box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  margin: 0 2em;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.skills-technical:hover,
.skills-soft:hover {
  background: linear-gradient(#642b73, #c6426e);
  font-weight: bolder;
}

.skills-soft-header {
  margin-bottom: 3em;
}

.skills-technical-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-technical-list {
  flex: 1;
}

.skills-technical-list,
.skills-soft-list {
  text-align: center;
  list-style-type: upper-roman;
  list-style-position: inside;
  margin-right: 2em;
}

.skills-technical-list li,
.skills-soft-list li {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

/**** Projects ****/
.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  margin: 5% 2em;
  text-align: center;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.project:hover {
  background: linear-gradient(#642b73, #c6426e);
  font-weight: bolder;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-img {
  width: 60%;
  height: auto;
  margin: 3em;
  transition: 0.8s;
  transition-property: color, transform;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-img:hover {
  transform: scale(1.125);
}

.project-details {
  margin: 0 10%;
}

.project-github-link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-github-link a {
  text-decoration: none;
  color: #2c3e50;
}

.project-github-link a:hover,
.project-github-link a:focus {
  color: whitesmoke;
  opacity: 0.9;
}

/**** Blogs ****/
.blogs-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
  margin-bottom: 2.5em;
  width: 50%;
  border-bottom: 1px solid rgba(105, 105, 105, 0.7);
}

.blog:last-of-type {
  margin-bottom: 0;
}

.blog-img {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-img:hover {
  opacity: 0.8;
}

.blogs-links a {
  text-decoration: none;
  color: #642b73;
}

.blogs-links a:hover,
.blogs-links a:focus {
  color: whitesmoke;
}

/**** Contact ****/
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 1em;
}

.contact-details-container,
.contact-social-container {
  display: block;
  width: 50vw;
  margin: 0 auto;
}

.contact-details,
.contact-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-title {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.contact-item {
  font-size: 1rem;
}

.contact-link {
  text-decoration: none;
  color: #2c3e50;
}

.contact-link:hover,
.contact-link:focus {
  opacity: 0.7;
  color: whitesmoke;
}

/** Mobile <  200px **/
@media (max-width: 200px) {
  .about-me {
    flex-direction: column;
  }

  .skills-technical-list,
  .skills-soft-list {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .project-img {
    margin: 0;
    margin-top: 1em;
  }
}

/** Mobile < 300px **/
@media (max-width: 300px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .skills-technical,
  .skills-soft {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/** Mobile <  400px **/
@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }

  #intro-img {
    height: 25vh;
  }

  .about-me-img {
    width: 100%;
    height: 100%;
  }

  .skills-technical-list-container {
    flex-flow: column wrap;
  }

  .blog {
    width: 100%;
  }

  .contact-container {
    flex-flow: column;
    padding-bottom: 1em;
  }

  .contact-details-container,
  .contact-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/** Mobile <  500px **/
@media (max-width: 500px) {
  #intro-img {
    height: 25vh;
  }

  .blog {
    width: 100vw;
  }
}

/** Desktop and Tablets **/
@media (min-width: 600px) {
  #intro-img {
    height: 50vh;
  }

  #navbar {
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 1.125rem;
  }

  .about-me-img {
    width: 100%;
    height: 100%;
  }

  .about-me-info-container {
    width: 50%;
    margin: 2em;
    text-align: center;
  }

  .about-me-body {
    font-size: 1.4rem;
  }

  .skills {
    font-size: 1.2rem;
  }

  .projects-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    margin: 0 auto;
  }

  .project {
    height: 95%;
    width: auto;
    margin-bottom: 1em;
  }

  .project-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-details {
    margin: 0 20%;
  }

  .blogs-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    margin: 0 auto;
  }

  .blog-img {
    width: 100%;
  }

  .contact-container {
    padding-bottom: 1.2em;
  }

  .contact-title {
    font-size: 1.8rem;
  }

  .contact-item {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  #intro-img {
    height: 80vh;
  }
}
